<!DOCTYPE html>
<html>
	<head>
		<title>Hello Spring Boot!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	</head>
	
	<body>
		<p>Started = <span th:text="${started}">true</span></p>
		<div th:switch="${started}"> 
			<p th:case="${true}"><a th:href="@{/stop}">Stop</a></p>
			<p th:case="${false}"><a th:href="@{/start}">Start</a></p>
			<p th:case="*">Error?</p> 
		</div>
		
		<div><p><a th:href="@{/test-email}" onclick="return confirm('Are you sure?');">Send Test Email</a></p></div>
	</body>
</html>