<!DOCTYPE html>
<html>
	<head>
		<title>Hello Spring Boot!</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	</head>
	
	<body>
		<div>Property Id = <span th:text="${propertyId}"></span></div>
		<br/>
		<div><a th:href="@{/}">Back to home</a></div>
		<br/>
		<div class="table-pagination">
		    <ul class="pagination">
		        <li th:class="${tickLists.number eq 0} ? 'disabled' : ''">
		            <a th:href="@{${'/property/'} + ${propertyId}(page=${tickLists.number-1})}">Previous</a>
		        </li>
		        <li th:each="pageNo : ${#numbers.sequence(0, tickLists.totalPages - 1)}" th:class="${tickLists.number eq pageNo}? 'active' : ''">
		            <a th:if="${not (tickLists.number eq pageNo)}" th:href="@{${'/property/'} + ${propertyId}(page=${pageNo})}">
		                <span th:text="${pageNo}"></span>
		            </a>
		            <span th:if="${tickLists.number eq pageNo}" th:text="${pageNo}"></span>
		        </li>
		        <li th:class="${tickLists.number + 1 ge tickLists.totalPages} ? 'disabled' : ''">
		            <a th:href="@{${'/property/'} + ${propertyId}(page=${tickLists.number+1})}">Next</a>
		        </li>
		    </ul>
		</div>
		<br/>
		<div th:each="tickList : ${tickLists}" th:text="${tickList}">tick summary</div>
	</body>
</html>